body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
  
}

.navbar{
  position: fixed;
  width: 101%;
}


.button{
  padding: 10px 30px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background: transparent;
  border: 2px solid red;
  border-radius: 10px; 
}

.button:hover{
  color: white;
  background-color: red;
}

.button1{
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background: transparent;
  border: 2px solid red;
  border-radius: 10px; 
}

.button1:hover{
  color: white;
  background-color: red;
}

.input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid red;
  cursor: pointer;
  padding-left: 15px;
}

.input:focus{
  outline: none;
}

.input:hover{
  cursor: text;
}